<h1><%= @long_term_goal.name %><h1>
<h3>Long-Term Goal for <%= link_to @student.name, student_path(@student) %></h3>

<%= link_to "Edit", edit_student_long_term_goal_path(@student, @long_term_goal) %>
<%= link_to "Short Term Goals", student_long_term_goal_short_term_goals_path(@student, @long_term_goal) %>

<% if @long_term_goal.start && @long_term_goal.end %>
  <h4><%= "From #{@long_term_goal.start} to #{@long_term_goal.end}" %></h4>
<% end %>

<p><%= @long_term_goal.description %></p>
