<div class="student-actions pull-right">
  <%= link_to "Add Item", "#", id: "add-item", class: "btn btn-warning" %>
</div>

<%= form_for @lesson_plan do |f| %>
  <div class="lesson-plan-items"></div>
  <%= hidden_field_tag "quick_edit", "true" %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>

<script type="text/javascript">
 var index = 1;
 var addItem = function(attributes) {
   var attributes = _.extend((attributes || {}), {index: index})
     var template = HandlebarsTemplates['lesson_plan_items/new'](attributes);
   index++;
   $(".lesson-plan-items").append(template);
   initializeTimepicker();
 };

 $("#add-item").click(addItem);

 <% items.each do |item| %>
 var json = "<%= j item.to_json.html_safe %>";
 <%= "var attributes = JSON.parse(unescape(json));".html_safe %>
 <%= "attributes = _.pick(attributes, 'subject', 'start', 'end', 'id');".html_safe %>
 <% if item.errors.present? %>
   <%= "attributes.errors = true;" %>
 <% end %>
 <%= "if(attributes.start) { attributes.start = moment.utc(attributes.start).format('hh:mma'); }".html_safe %>
 <%= "if(attributes.end) { attributes.end = moment.utc(attributes.end).format('hh:mma'); }".html_safe %>
 <%= "addItem(attributes);".html_safe %>
 <% end %>
</script>
