<table class="lesson-plan-print table table-bordered resizable">
  <thead>
    <tr>
      <th>Timing</th>
      <% @items.each do |item| %>
        <th class="lesson-plan-item-time">
          <%= link_to item.range, edit_lesson_plan_item_path(@lesson_plan, item) %>
        </th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="table-header">Subject</td>
      <% @items.each do |item| %>
        <% if item.span? %>
          <td class="lesson-plan-item-attribute-value span" rowspan="6" %>
            <% item.display_title.upcase.split('').each do |letter| %>
              <div class="letter"><%= letter %></div>
            <% end %>
          </td>
        <% else %>
          <td class="lesson-plan-item-attribute-value">
            <%= item.display_title %>
          </td>
        <% end %>

      <% end %>
    </tr>

    <tr>
      <td class="table-header">Theme</td>
      <% @items.each do |item| %>
        <% unless item.span? %>
          <td class="lesson-plan-item-attribute-value">
            <%= raw item.theme %>
          </td>
        <% end %>
      <% end %>
    </tr>

    <tr>
      <td class="table-header">Topic</td>
      <% @items.each do |item| %>
        <% unless item.span? %>
          <td class="lesson-plan-item-attribute-value">
            <%= raw item.topic %>
          </td>
        <% end %>
      <% end %>
    </tr>

    <tr>
      <td class="table-header">Goals</td>
      <% @items.each do |item| %>
        <% if item.span? %>

        <% else %>
          <td class="lesson-plan-item-attribute-value">
            <%= raw item.goals %>
          </td>
        <% end %>
      <% end %>
    </tr>

    <tr>
      <td class="table-header">Teaching Method</td>
      <% @items.each do |item| %>
        <% if item.span? %>

        <% else %>
          <td class="lesson-plan-item-attribute-value">
            <%= raw item.teaching_method %>
          </td>
        <% end %>
      <% end %>
    </tr>

    <tr>
      <td class="table-header">Teaching Aids</td>
      <% @items.each do |item| %>
        <% if item.span? %>

        <% else %>
          <td class="lesson-plan-item-attribute-value">
            <%= raw item.teaching_aids %>
          </td>
        <% end %>
      <% end %>

    </tr>

  </tbody>
</table>
