<% breadcrumb :lesson_plan, @lesson_plan %>

<h1>Lesson Plan</h1>
<div class="student-actions pull-right">
  <%= link_to "Add Item", new_lesson_plan_item_path(@lesson_plan), class: "btn btn-info" %>
  <%= link_to "Edit Date", edit_lesson_plan_path(@lesson_plan), class: "btn btn-primary" %>
  <%= link_to "Save As", new_lesson_plan_path(duplicate_from: @lesson_plan.id), class: "btn btn-warning" %>
  <%= link_to "Delete", lesson_plan_path(@lesson_plan), method: :delete, class: "btn btn-danger",
    data: {confirm: "Are you sure? This will destroy this lesson plan and all its contents. There is no undo!"} %>
</div>


<h2 class="new-goal-subheader">
  <%= @lesson_plan.date.strftime("%A | %-d %B %Y") %>
</h2>

<% if @items.present? %>

  <table class="lesson-plan-display table table-hover table-bordered">
    <% @items.decorate.each do |item| %>
      <tr>
        <td class="lesson-plan-item-time">
          <%= link_to item.range, edit_lesson_plan_item_path(@lesson_plan, item) %>
        </td>
        <td class="lesson-plan-item-body">
          <% if item.span? %>
            <div class="lesson-plan-subject-span"><%= item.subject %></div>
          <% else %>
            <% if item.subject.present? %>
              <div class="lesson-plan-item-attribute-value">
                <span class="lesson-plan-item-attribute">Subject</span>
                <%= item.subject %>
              </div>
            <% end %>

            <% if item.topic.present? %>
              <div class="lesson-plan-item-attribute-value">
                <span class="lesson-plan-item-attribute">Topic</span>
                <%= item.topic %>
              </div>
            <% end %>

            <% if item.goals.present? %>
              <div class="lesson-plan-item-attribute-value">
                <span class="lesson-plan-item-attribute">Goals</span>
                <%= raw item.goals %>
              </div>
            <% end %>

            <% if item.teaching_method.present? %>
              <div class="lesson-plan-item-attribute-value">
                <span class="lesson-plan-item-attribute">Teaching Method</span>
                <%= raw item.teaching_method %>
              </div>
            <% end %>

            <% if item.teaching_aids.present? %>
              <div class="lesson-plan-item-attribute-value">
                <span class="lesson-plan-item-attribute">Teaching Aids</span>
                <%= raw item.teaching_aids %>
              </div>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

<% else %>
  <div class="alert alert-warning">
    Add some items to this lesson plan.
  </div>
<% end %>
