<% breadcrumb :lesson_plan, @lesson_plan %>

<h1>Lesson Plan</h1>
<div class="student-actions pull-right">
  <%= link_to "Print", "#", class: "btn btn-warning print-mode" %>
  <%= link_to "Quick Edit", quick_edit_lesson_plan_path(@lesson_plan), class: "btn btn-success" %>
  <%= link_to "Add Item", new_lesson_plan_item_path(@lesson_plan), class: "btn btn-info" %>
  <%= link_to "Edit Date", edit_lesson_plan_path(@lesson_plan), class: "btn btn-primary" %>
  <%= link_to "Save As", new_lesson_plan_path(duplicate_from: @lesson_plan.id), class: "btn btn-warning" %>
  <%= link_to "Delete", lesson_plan_path(@lesson_plan), method: :delete, class: "btn btn-danger",
    data: {confirm: "Are you sure? This will destroy this lesson plan and all its contents. There is no undo!"} %>
</div>


<h2 class="new-goal-subheader">
  <%= @lesson_plan.date.strftime("%A | %-d %B %Y") %>
</h2>

<% if @items.present? %>

  <table class="lesson-plan-display table table-hover table-bordered">
    <% @items.each do |item| %>
      <tr>
        <td class="lesson-plan-item-time">
          <%= link_to item.range, lesson_plan_item_path(@lesson_plan, item) %>
        </td>
        <td class="lesson-plan-item-body">
          <%= item.show_html %>
        </td>
      </tr>
    <% end %>
  </table>

<% else %>
  <div class="alert alert-warning">
    Add some items to this lesson plan.
  </div>
<% end %>

<%= render "show_print" %>

<script type="text/javascript">
 var printModeStatus = 'print';
 $(".print-mode").click(function() {
   if(printModeStatus == 'all') {
     $('link.print').attr('media', 'print');
     printModeStatus = 'print';
   } else {
     $('link.print').attr('media', 'all');
     printModeStatus = 'all';
   }
   initializeBootstrapTable();
 });
</script>
