<table class="elc-lesson-plan-item table table-bordered">
  <thead>
    <tr>
      <th>Location</th>
      <th>Activity</th>
      <th>Material</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="location">Central Open Area</td>
      <td><%= lesson_plan_item.central_1_activity %></td>
      <td><%= lesson_plan_item.central_1_material %></td>
    </tr>

    <tr>
      <td class="location">Reading Corner</td>
      <td><%= lesson_plan_item.reading_activity %></td>
      <td><%= lesson_plan_item.reading_material %></td>
    </tr>

    <tr>
      <td class="location">Craft Corner</td>
      <td><%= lesson_plan_item.craft_activity %></td>
      <td><%= lesson_plan_item.craft_material %></td>
    </tr>

    <tr>
      <td class="location">Technology Corner</td>
      <td><%= lesson_plan_item.technology_activity %></td>
      <td><%= lesson_plan_item.technology_material %></td>
    </tr>

    <tr>
      <td class="location">Central Open Area</td>
      <td><%= lesson_plan_item.central_2_activity %></td>
      <td><%= lesson_plan_item.central_2_material %></td>
    </tr>
  </tbody>

</table>
