<%= form_for [@lesson_plan, @lesson_plan_item.becomes(LessonPlanItem)], url: @lesson_plan_item.persisted? ? lesson_plan_item_path : lesson_plan_items_path , class: "lesson_plan_form" do |f| %>
  <fieldset>
    <%= f.label :type, "Type" %>
    <%= f.radio_button :type, 'RegularLessonPlanItem' %> <span class="radio-button-label">Regular</span>
    <%= f.radio_button :type, 'ELCLessonPlanItem' %> <span class="radio-button-label">ELC</span>
  </fieldset>

  <fieldset>
    <%= f.label :start, "Start Time" %>
    <%= f.text_field :start, class: "timepicker", value: (@lesson_plan_item.start.strftime("%-l:%M%P") if @lesson_plan_item.start.present?) %>

    <%= f.label :end, "End Time" %>
    <%= f.text_field :end, class: "timepicker", value: (@lesson_plan_item.end.strftime("%-l:%M%P") if @lesson_plan_item.end.present?) %>
  </fieldset>

  <div class="regular">
    <%= render partial: "regular_form", locals: {f: f} %>
  </div>

  <div class="elc">
    <%= render partial: "elc_form", locals: {f: f} %>
  </div>

  <%= f.submit "Save", class: "btn btn-primary" %>
<% end %>

<script type="text/javascript">
 var current;
 var displayRegular = function() {
   current = "regular";
   $(".elc").hide();
   $(".regular").show();
 };

 var displayELC = function() {
   current = "elc";
   $(".regular").hide();
   $(".elc").show();
 };

 $("#lesson_plan_item_type_regularlessonplanitem").click(displayRegular);
 $("#lesson_plan_item_type_elclessonplanitem").click(displayELC);

 <% if @lesson_plan_item.elc? %>
 displayELC();
 current = "elc";
 <% else %>
 displayRegular();
 current = "regular";
 <% end %>

 $("form").submit(function() {
   if(current == "elc") {
     $(".regular").remove();
   } else {
     $(".elc").remove();
   };
 });

</script>

<%= render "dirty_onbeforeunload" %>
