<%= javascript_include_tag "dragula.js" %>
<%= stylesheet_link_tag "dragula.css" %>

<% breadcrumb :picture_comprehension_exercise_play, @picture_comprehension_exercise %>

<h1>Playing <%= @picture_comprehension_exercise.name %></h1>

<div id="banner">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Instructions</h3>
        </div>
        <div class="panel-body">
            Move story elements from the left side to the right in the correct order.
        </div>
    </div>
</div>

<div class="picture-comprehension-play">
    <h3>Pieces</h3>
    <ul class="base-list" id="base-list">
        <% @images.each do |image| %>
            <li data-position="<%= image.position %>"><%= image_tag(image.image_url, width: 300) %></li>
        <% end %>
    </ul>

    <h3>Story</h3>
    <ul class="target-list" id="target-list">
    </ul>
</div>

<script type="text/javascript">
 new PictureComprehension(document.querySelector("#base-list"),
                          document.querySelector("#target-list"),
                          document.querySelector("#banner")).setup();
</script>
