<h1>Create a Picture Comprehension</h1>

<%= form_tag save_order_picture_comprehension_exercise(@picture_comprehension_exercise), method: :post %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <fieldset>
        <%= f.label :images %>
        <%= f.file_field :images, multiple: true, name: '[images][]' %>
        <%= f.hidden_field :image_cache %>
    </fieldset>

    <%= f.submit "Save", class: "btn btn-primary" %>
</form>
