<% title "Bingo Generator" %>

<h1>Bingo Generator (BETA)</h1>

<div class="student-actions pull-right">
    <%= link_to "Add Word", "#", id: "add-field", class: "btn btn-warning" %>
    <%= link_to "Add 25 Words", "#", id: "add-25-fields", class: "btn btn-warning" %>
</div>

<%= form_tag "/bingo_cards", method: :post  %>

<%= content_tag "div", class: "bingo-fields", data: {words: @words} do %>
<% end %>

<script type="text/javascript">
 var templateFields = new TemplateFields(".bingo-fields", "#add-field", "bingo/field", {}).setup();
 templateFields.addItems($('.bingo-fields').data('words'));

 $("#add-25-fields").click(function() {
     var items = _(25).times(function(){ return {}; });
     templateFields.addItems(items);
 });
</script>

<%= submit_tag "Done", class: "btn btn-primary" %>
</form>
