= form_for @number_name_game do |f|
  - if @number_name_game.errors.present?
    .panel.panel-danger
      .panel-heading Error
      .panel-body Couldn't save your game. #{@number_name_game.errors.full_messages.to_sentence}

  = f.label :name
  = f.text_field :name

  = f.label :numbers
  = f.text_field :numbers
  %span#numbers-help.help-block
  = submit_tag "Submit", class: "btn btn-primary"

:javascript
  var parser = new NumberParser($("#number_name_game_numbers"), $("#numbers-help"))
