{{#if errors}}
  <fieldset id="lesson-plan-item-snippet-{{index}}" class="lesson-plan-quick-edit-errors">
{{else}}
  <fieldset id="lesson-plan-item-snippet-{{index}}">
{{/if}}
  <label>{{index}}</label>

  <label for="lesson_plan[items][{{index}}][subject]" class="condensed">Subject</label>
  <input type="text" name="lesson_plan[items][{{index}}][subject]" value="{{subject}}"></input>

  <label for="lesson_plan[items][{{index}}][start]" class="condensed">Start Time</label>
  <input type="text" name="lesson_plan[items][{{index}}][start]" class="timepicker" value="{{start}}"></input>

  <label for="lesson_plan[items][{{index}}][end]" class="condensed">End Time</label>
  <input type="text" name="lesson_plan[items][{{index}}][end]" class="timepicker" value="{{end}}"></input>

  {{#if id}}
    <input type="hidden" name="lesson_plan[items][{{index}}][id]" class="hidden" value="{{id}}"></input>
  {{/if}}

  <a href="#" id="lesson-plan-item-snippet-delete-{{index}}">Delete</a>

  <script type="text/javascript">
   $("#lesson-plan-item-snippet-delete-{{index}}").click(function() {
     if(confirm("Sure?")) {
       $("#lesson-plan-item-snippet-{{index}}").remove();
     }
   });
  </script>
</fieldset>
