{{#if errors}}
  <fieldset id="lesson-plan-item-snippet-{{index}}" class="lesson-plan-quick-edit-errors lesson-plan-item-snippet">
{{else}}
    <fieldset id="lesson-plan-item-snippet-{{index}}" class="lesson-plan-item-snippet">
{{/if}}


<label for="lesson_plan[items][{{index}}][subject]" class="condensed">Subject</label>
{{#if elc}}
  <input type="text" name="lesson_plan[items][{{index}}][subject]" value="ELC" disabled="disabled"></input>
{{else}}
  <input type="text" name="lesson_plan[items][{{index}}][subject]" value="{{subject}}"></input>
{{/if}}

<div class="lesson-plan-item-snippet-time">
  <label class="condensed">Time</label>
  <input type="text" name="lesson_plan[items][{{index}}][start]" class="timepicker" value="{{start}}"></input>
  <label class="condensed">to</label>
  <input type="text" name="lesson_plan[items][{{index}}][end]" class="timepicker" value="{{end}}"></input>
</div>

{{#if id}}
  <input type="hidden" name="lesson_plan[items][{{index}}][id]" class="hidden" value="{{id}}"></input>
{{/if}}

<a href="#" id="lesson-plan-item-snippet-delete-{{index}}" class="lesson-plan-item-snippet-delete btn btn-danger">Delete</a>

<script type="text/javascript">
 $("#lesson-plan-item-snippet-delete-{{index}}").click(function() {
   if(confirm("Sure?")) {
     $("#lesson-plan-item-snippet-{{index}}").remove();
   }
 });
</script>
    </fieldset>
