<% breadcrumb :goal, @student, @goal %>

<h1 class="new-goal-header"> <span class="new-goal-parent-name <%= 'complete' if goal.completed? %>"><%= @goal.title %></span> </h1>
<div class="student-actions pull-right">
  <% unless @goal.completed? %>
    <%= link_to "Edit", edit_student_goal_path(@student, @goal), class: "btn btn-primary" %>
  <% end %>

  <div class="btn-group">
    <%= link_to "Show All", "#", class: "show-all btn btn-success" %>
    <%= link_to "Hide All", "#", class: "hide-all btn btn-warning" %>
  </div>

  <%= link_to "Delete", student_goal_path(@student, @goal), method: :delete, class: "btn btn-danger",
    data: {confirm: "Are you sure? This will destroy this goal and all sub-goals, and there's no undo!"} %>

  <div class="second-row">
    <% if goal.allow_duplication? %>
      <%= link_to "Duplicate", new_student_duplicate_goal_path(@student, @goal), class: "btn btn-danger" %>
    <% end %>

    <% if @goal.not_final_level? && !@goal.completed? %>
      <%= link_to "Add #{goal_name_for_depth(@goal.depth.next)}", new_student_goal_path(@student, parent_id: @goal.id), class: "btn btn-secondary" %>
    <% end %>

    <% if @goal.completed? %>
      <%= link_to "Uncomplete", uncomplete_student_goal_path(@student, @goal), method: :put, class: "btn btn-info" %>
    <% else %>
      <%= link_to "Complete", complete_student_goal_path(@student, @goal), method: :put, class: "btn btn-info" %>
    <% end %>
  </div>
</div>


<h2 class="new-goal-subheader">
  <%= goal_name_for_depth(goal.depth) %>
  <% if(goal.start && goal.end) %>
    |
    <%= goal.decorate.expanded_date_range %>
  <% end %>
</h2>

<%= raw @goal.description %>

<%= render partial: "goals", locals: {goals: goal.sorted_children, depth: @goal.depth.next, parent_id: nil, skip_header: false} %>

<%= render "show_hide_all_js" %>
