<% breadcrumb :goal, @student, @goal %>

<h1 class="new-goal-header"> <span class="new-goal-parent-name"><%= @goal.title %></span> </h1>
<div class="student-actions pull-right">
  <%= link_to "Edit Goal", edit_student_goal_path(@student, @goal), class: "btn btn-primary" %>
  <div class="btn-group">
    <%= link_to "Show All", "#", class: "show-all btn btn-success" %>
    <%= link_to "Hide All", "#", class: "hide-all btn btn-warning" %>
  </div>
</div>

<% if goal.start && goal.end %>
<h2 class="new-goal-subheader"><%= goal.expanded_date_range %></h2>
<% end %>

<%= render partial: "goals", locals: {goals: [goal], depth: @goal.depth, parent_id: nil} %>

<%= render "goal_toggle_js" %>
