<% if goals.present? %>
  <ul class="student_goals list-group">
    <% unless local_assigns[:skip_header] %>
      <h4 class="goal-type-title depth-<%= depth %>">
        <%= goal_name_for_depth(depth).pluralize %>
      </h4>
    <% end %>

    <% goals.each_with_index do |goal, index| %>
      <li class="student_goal list-group-item <%= (depth % 2 == 0) ? "odd" : "even" %>">

        <div>
          <h3 class="goal-tree-goal-title">
            <a class="disclosure glyphicon glyphicon-triangle-bottom" data-toggle="collapse" href=<%= "#goal-body-#{goal.id}" %>></a>
            <%= link_to "#{index + 1}. #{goal.title}", student_goal_path(@student, goal), class: "goal-name #{'complete' if goal.completed?}" %>
          </h3>
          <span class="goal-date"><%= goal.decorate.date_range %></span>
        </div>


        <div class="collapse in goal-body" id=<%= "goal-body-#{goal.id}" %>>
          <div class="goal-description"><%= goal.description.html_safe %></div>

          <% if goal.not_final_level? %>
            <%= render partial: "goals", locals: { goals: goal.sorted_children, depth: depth.next, parent_id: goal.id } %>
          <% end %>
        </div>

        <%= render partial: "disclosure_js", locals: { id: "goal-body-#{goal.id}" } %>

      </li>
    <% end %>
  </ul>
<% end %>
