<ul class="student_goals list-group">
  <h4><%= link_to goal_name_for_depth(depth).pluralize, new_student_goal_path(@student, parent_id: parent_id) %></h4>

  <% if goals.present? %>
    <% goals.each_with_index do |goal, index| %>
      <li class="student_goal list-group-item <%= (depth % 2 == 0) ? "odd" : "even" %>">

        <h3>
          <a data-toggle="collapse" href=<%= "#goal-body-#{goal.id}" %>> > </a>
          <%= link_to "#{index + 1}. #{goal.title}", student_goal_path(@student, goal), class: 'goal-name' %>
        </h3>


        <div class="collapse in" id=<%= "goal-body-#{goal.id}" %>>
          <span class="goal-date"><%= goal.date_range %></span>
          <p><%= goal.description %></p>


          <% if depth < 4 %>
            <%= render partial: "goals", locals: { goals: goal.children.decorate, depth: depth.next, parent_id: goal.id } %>
          <% end %>
        </div>

      </li>
    <% end %>
  <% end %>
</ul>
