<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="assets/manifest.json">
    <title>Blink</title>
    <script src="//use.typekit.net/rru0vth.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render "navbar" %>

    <% unless @skip_container %>
      <div class="container">
    <% end %>

    <%= breadcrumbs style: :bootstrap %>
    <%= flash_messages %>
    <%= yield %>

    <% unless @skip_container %>
      </div>
    <% end %>


    <script type="text/javascript">
     $('.datepicker').datepicker({
       format: "M d, yyyy",
       orientation: "top auto"
     });
    </script>

  </body>
</html>
